@model b.ViewModels.Sales

@{
    ViewBag.Title = "Sales Details";
}

<h2>Sales Details</h2>

<fieldset>
    <legend>Sales</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.SOID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SOID)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CustomerID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CustomerID)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Invoice)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Invoice)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Remarks)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Remarks)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
