@model b.ViewModels.Sales

@{
    ViewBag.Title = "Sales Edit";
}

<h2>Sales Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Sales</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SOID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SOID)
            @Html.ValidationMessageFor(model => model.SOID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CustomerID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CustomerID)
            @Html.ValidationMessageFor(model => model.CustomerID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Invoice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Invoice)
            @Html.ValidationMessageFor(model => model.Invoice)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Remarks)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Remarks)
            @Html.ValidationMessageFor(model => model.Remarks)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BoxNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BoxNumber)
            @Html.ValidationMessageFor(model => model.BoxNumber)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $("#CustomerID").combobox();
            $("td input[name ^= 'SalesItems']").each(function (index) {//$("td input[name ^= 'POItems'][name $='Rate']").each(function (index) {
                this.onchange = CalPOItemAmount;
            });
        });
    </script>
}
