@using MvcJqGrid

@model b.Models.StoreTransfer

@{
    ViewBag.Title = "store transfer create";
}


<h2>Store Transfer Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>StoreTransfer</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FromStoreID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FromStoreID)
            @Html.ValidationMessageFor(model => model.FromStoreID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ToStoreID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ToStoreID)
            @Html.ValidationMessageFor(model => model.ToStoreID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EntryDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EntryDate)
            @Html.ValidationMessageFor(model => model.EntryDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Remarks)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Remarks)
            @Html.ValidationMessageFor(model => model.Remarks)
        </div>
    </fieldset>
    
    
    MvcJqGrid.DataReaders.JsonReader jsonReader = new MvcJqGrid.DataReaders.JsonReader();
    jsonReader.RepeatItems = false;
    jsonReader.Id = "dataJson";
    
    @(Html.Grid("GridDataBasic")
    .SetCaption("transfer items")
.AddColumn(new MvcJqGrid.Column("ProductID"))
.AddColumn(new MvcJqGrid.Column("Quantity"))
.AddColumn(new MvcJqGrid.Column("Rate"))
.AddColumn(new MvcJqGrid.Column("Amount"))
.SetWidth(650)
.SetRowNum(10)
.SetUrl("/StoreTransfer/GridDataBasic")
.SetAutoEncode(true)
.SetDataType(MvcJqGrid.Enums.DataType.Json)
.SetJsonReader(jsonReader)


)

    <p>
        <input type="submit" value="Create" />
    </p>
   
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
