@using b.ViewModels

@model SalesOrder

@{
    ViewBag.Title = "Sales Order Create";
}

<h2>Sales Order Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>SalesOrder</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CustomerID)
        </div>
        <div class="editor-field">
            @Html.DropDownList("CustomerID", String.Empty)
            @Html.ValidationMessageFor(model => model.CustomerID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Remarks)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Remarks)
            @Html.ValidationMessageFor(model => model.Remarks)
        </div>

    </fieldset>
  
    <fieldset>
        <legend>Sales Order Items</legend>

        <style type="text/css">
            input {
                border: 1px solid #e2e2e2;
                background: #fff;
                color: #333;
                font-size: 1.2em;
                margin: 5px 0 6px 0;
                padding: 5px;
                width: 150px;
            }
        </style>
        @if (Model == null || Model.SalesOrderItems == null || Model.SalesOrderItems.Count() == 0)
        {
            <p>None.</p>
        }
        <table id="itemEditor">
            <tr>
                <th></th>
                <th style="width: 100px">Product</th>
                <th style="width: 100px">Rate</th>
                <th style="width: 100px">Quantity</th>
                <th style="width: 100px">Amount</th>
                <th style="width: 100px"></th>
            </tr>

            @if (Model != null && Model.SalesOrderItems != null)
            {
                foreach (SalesOrderItem poitem in Model.SalesOrderItems)
                {
                    Html.RenderPartial("SOItemEntry", poitem);
                }
            }
        </table>

        <a id="addAnother" href="#">Add another</a>
        <script type="text/javascript">
            $(function () {
                $("#itemEditor").sortable();
                $("#addAnother").click(function () {
                    $.get('/SalesOrder/SOItemEntryRow', function (template) {
                        $("#itemEditor").append(template);
                    });
                });
            });
        </script>

    </fieldset>
 
    <p>
        <input type="submit" value="Create" />
    </p>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    <script type="text/javascript">
        $("#CustomerID").combobox();
    </script>
}
