@model IEnumerable<b.ViewModels.POwithVendor>

@{
    ViewBag.Title = "Purchase Orders";
}

<h2>Purchase Orders</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@*<p>
    @using (Ajax.BeginForm("Search", "PurchaseOrder",
                            new AjaxOptions
                            {
                                InsertionMode = InsertionMode.Replace,
                                HttpMethod = "GET",
                                OnFailure = "searchFailed",
                                LoadingElementId = "ajax-loader",
                                UpdateTargetId = "searchresults",
                            }))
    {
        @Html.ActionLink("Create New", "Create")
        <input type="text" name="q" />
        <input type="submit" value="search" />
        <img id="ajax-loader" alt="searching" src="~/Images/ajax-loader.gif" style="display: none" />
    }
</p>*@
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().PO.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().PO.Vendor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().PO.Remarks)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PO.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vendor.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PO.Remarks)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PO.ID, version = item.PO.Version }) |
            @Html.ActionLink("Details", "Details", new { id = item.PO.ID, version = item.PO.Version }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.PO.ID, version = item.PO.Version })
            </td>
        </tr>
    }

</table>
