@model Purchase

@{
    ViewBag.Title = "Purchase Create";
    var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
}
<h2>Purchase Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Purchase</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PO)
        </div>
        <div class="editor-field">
            @Html.DropDownList("POID", String.Empty)
            @Html.ValidationMessageFor(model => model.POID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PO.Vendor)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PO.Vendor.Name)
            @*@Html.DropDownList("VendorID", String.Empty)*@
            @*@Html.ValidationMessageFor(model => model.VendorID)*@
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VendorInvoice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VendorInvoice)
            @Html.ValidationMessageFor(model => model.VendorInvoice)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Remarks)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Remarks)
            @Html.ValidationMessageFor(model => model.Remarks)
        </div>

    </fieldset> 
    
    <script type="text/javascript">
        var mvcJqGrid = { demo: {} };

        mvcJqGrid.demo.buttonize = function (cellvalue, options, rowobject) {
            return '<a onclick="return mvcJqGrid.demo.edit(' + options.rowId + ')" href="#"><div class="ui-icon ui-icon-pencil" style="display:inline-block"></div></a>' +
                   '<a onclick="return mvcJqGrid.demo.delete(' + options.rowId + ')" href="#"><div class="ui-icon ui-icon-trash" style="display:inline-block"></div></a>';

        }

        mvcJqGrid.demo.edit = function (id) {
            alert("Edit for customerId " + id);
            return false;
        }

        mvcJqGrid.demo.delete = function (id) {
            alert("Delete for customerId " + id);
            return false;
        }
    </script>
    MvcJqGrid.DataReaders.JsonReader jsonReader = new MvcJqGrid.DataReaders.JsonReader();
    jsonReader.RepeatItems = false;
    jsonReader.Id = "dataJson";
            
    @(Html.Grid("piGrid")
            .SetCaption("purchase items")
            .AddColumn(new MvcJqGrid.Column("ProductID"))
            .AddColumn(new MvcJqGrid.Column("Quantity"))
            .AddColumn(new MvcJqGrid.Column("Rate"))
            .AddColumn(new MvcJqGrid.Column("Amount"))
            .AddColumn(new Column("&nbsp;").SetSearch(false).SetCustomFormatter("mvcJqGrid.demo.buttonize").SetWidth(50))
            .SetWidth(675)
            .SetRowNum(10)
            .SetUrl(Url.Action("piGrid", "Purchase"))
            .SetAutoEncode(true)
            .SetDataType(MvcJqGrid.Enums.DataType.Json)
            .SetJsonReader(jsonReader)
            .SetSearchToolbar(true).SetSearchOnEnter(false)
            .SetViewRecords(true)
    .SetRowList(new[] { 10, 15, 20, 50 })


            )
    int pageSize = 20;
    if (Session["VisitorLogGridSettings"] != null)
    {
        // Get from cache the last page zise selected by the user. 
        GridSettings grid = new GridSettings();//(string)Session["VisitorLogGridSettings"]);
        pageSize = grid.PageSize;
    }
    // Restore the last search params from cache.
    string startDate = (Session["StartDate"] == null
        ? string.Empty
        : ((DateTime)Session["StartDate"]).ToShortDateString());
    string endDate = (Session["EndDate"] == null
        ? string.Empty
        : ((DateTime)Session["EndDate"]).ToShortDateString());

    <p>
        <input type="submit" value="Create" />
        <a href="/">Cancel</a>
        @Html.ActionLink("Back to List", "Index")
    </p>
}

@section Scripts {
    <script type="text/javascript">
        var gridDataUrl = '/Purchase/piGrid';
        var curPOid = '"@ViewData["curPOid"]"';
        $(function () {
            $("#PO_Vendor_Name").attr("disabled", "disabled");
            $("#POID").combobox({
                select: function (event, ui) {
                    var po_id = $(this).val();
                    $.ajax({
                        url: "ChangePO/" + po_id,
                        success: function (curVendor) {
                            $("#PO_Vendor_Name").val(curVendor.Name);
                            setGridUrl(po_id);
                        }
                    });
                }
            });
        })
        function setGridUrl(po_id) {
            var newGridDataUrl = gridDataUrl + '?curPOid=' + po_id;
            $('#piGrid').jqGrid('setGridParam', { url: newGridDataUrl }).trigger("reloadGrid");
        }

    </script>
}