@model IEnumerable<b.Models.Purchase>

@{
    ViewBag.Title = "Purchases";
        //var X = Html.X();
}
@*@section example
{
    <h1>Simple Ext.NET Window Sample</h1>
    <p>The following sample demonstrates how to configure a new Window Component and "show" the Window if closed.</p>

    @(X.Button()
        .Text("Show Window (Client Event)")
        .Icon(Icon.Application)
        .Handler("App.Window1.show();")
    )

    <br />

    @(X.Button()
        .Text("Show Window (Controller Action)")
        .Icon(Icon.Application)
        .DirectClickAction("Button2_Click")
    )

    @(X.Window()
        .ID("Window1")
        .Title("Hello World")
        .Icon(Icon.Application)
        .Height(185)
        .Width(350)
        .BodyStyle("background-color: #fff;")
        .BodyPadding(5)
        .Modal(true)
        .Content(c => "This is my first <a target='_blank' href='http://www.ext.net/'> Ext.NET</a> Window.")
    )
}*@

<h2>Purchases</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.POID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PO.Vendor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VendorInvoice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.POID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PO.Vendor.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorInvoice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID, version = item.Version }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID, version = item.Version }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID, version = item.Version })
            </td>
        </tr>
    }

</table>
