@using b.ViewModels
@model IEnumerable<PurchaseItem>

<div style="width: 95%;">
    @(Html.Syncfusion().Grid<PurchaseItem>("GenericListGrid")
    .Datasource(Model)
    .Caption("hi")
    .EnablePaging()
    .EnableSorting()
    .Column(cols =>
    {
        cols.Add(c => c.ProductID);
        cols.Add(c => c.Qty);
        cols.Add(c => c.Rate);
    })
    )
</div>



@*@model b.ViewModels.PurchaseItem

<li style="padding-bottom: 15px">
    @using (Html.BeginCollectionItem("PurchaseItems"))
    {
        <img src="@Url.Content("~/Images/draggable-icon.png")" style="cursor: move" alt="drag"/>

        @Html.LabelFor(model => model.ProductID)
        @Html.EditorFor(model => model.ProductID)
        @Html.ValidationMessageFor(model => model.ProductID)

        
        @Html.LabelFor(model => model.Rate)
        @Html.EditorFor(model => model.Rate)
        @Html.ValidationMessageFor(model => model.Rate)

        @Html.LabelFor(model => model.Qty)
        @Html.EditorFor(model => model.Qty)
        @Html.ValidationMessageFor(model => model.Qty)

        <a href="#" onclick="$(this).parent().remove();">Delete</a>
    }
</li>*@
