@using Microsoft.Web.Helpers;

@model IEnumerable<whatsnew>

@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        we make life easier.
    </p>
    <p>
        create <b>custom</b> software.
    </p>

    <div id="dailydeal">
        @Ajax.ActionLink("Click here to see today's special!",
"DailyDeal",
new AjaxOptions
{
    UpdateTargetId = "dailydeal",
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "GET"
})
    </div>
    <p>
        @Twitter.Search("manojgreat")
    </p>
    <p>
        @LinkShare.GetHtml("manoj.great",null,"manojgreat","hi")
    </p>
</article>

<aside>
    <h3>What's new </h3>

    @foreach (var whats in Model)
    { 
        <p>@whats.WorkTime
            <br />
            @whats.Work
        </p>
    }
</aside>


