@{
    ViewBag.Title = "Master";
}

<h2>Master</h2>

<hr />

<p>
    @Html.ActionLink("Vendors", "Index", "MasterVendor")
</p>
<p>
    @Html.ActionLink("Products", "Index", "MasterProduct")
</p>
<hr />
<p>
    @Html.ActionLink("Store", "Index", "MasterStore")
</p>
<p>
    @Html.ActionLink("Sub Location", "Index", "MasterSubloaction")
</p>
<hr />
<p>
    @Html.ActionLink("Customers", "Index", "MasterCustomer")
</p>

<hr />
